@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

$navfont-size: 20px; 
$navfont-color: black;
$subfont-size: 20px;

@mixin respond-to($breakpoint) {
    @if $breakpoint == "xs" {
        @media (max-width: 575px) {
            @content;
        }
    }
    @if $breakpoint == "sm" {
        @media (min-width: 576px) {
            @content;
        }
    }
    @else if $breakpoint == "md" {
        @media (min-width: 786px) {
            @content;
        }
    }@else if $breakpoint == "lg" {
        @media (min-width: 992px) {
            @content;
        }
    }@else if $breakpoint == "xl" {
        @media (min-width: 1200px) {
            @content;
        }
    }
    
}

//body
//  font-family: 'Montserrat', sans-serif
//    font-weight: 400
//    letter-spacing: -0.2px
//.navbar-brand
//    font-family: 'Montserrat', sans-serif
//    font-weight: 600
//    padding-top: 8px

.tagline  {
    @include respond-to('xs') {
            font-size: 52.5px;
            line-height: 3.25rem;
    }
    @include respond-to('sm') {
        font-size: 60px;
            line-height: 3.55rem;
    }
    @include respond-to('md') {
        font-size: 70px;
            line-height: 4.75rem;
    }
    @include respond-to('lg') {
        font-size: 80px;
            line-height: 5.25rem;
    }
    @include respond-to('xl') {
        font-size: 90px;
            line-height: 5.85rem;
}}

.sab-photo {
    @include respond-to('xs') {
        display:none;
    }
    @include respond-to('sm') {
        display:none;
    }
    @include respond-to('md') {
        display:inline-block;
    }
    @include respond-to('lg') {
        display:inline-block;
    }
    @include respond-to('xl') {
        display:inline-block;
}}

.sab-wrapper {
    height: auto;
    width: auto;
}

.sab-nowrap {
    white-space: none;
}

.sab-navfont {
    font-size: $navfont-size !important;
}

.sab-sub {
    font-size: $subfont-size;
    font-weight: 400;
    line-height: 2.75rem;}

.navbar {
    background: rgba(256, 256, 256, 0.90);
}

.hoverable {
    padding-top: 50px;}

.hoverable:hover {
    color: #0275d8;
    padding-top: 45px;}

.nav-link {
    text-decoration: none;
    padding: 17px 0px;
    margin: 0px 10px;
    display: inline-block;
    position: relative;
    opacity: 1;
}

.nav-link:hover  {
    opacity: 1;
}

.nav-link::before {
    transition: 600ms;
    height: 3px;
    //content: "";
    position: absolute;
    background-color: #0275d8;
}

.nav-link-ltr::before {
    width: 00%;
    bottom: 10px;
}

//.nav-link-ltr:hover::before {
//width: 90%;
//}

.pata  {
    @include respond-to('xs') {
        padding-top: 20px;
    }
}